.carousel{
  position: relative;
  .carousel-item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 76rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover svg{
      display: block;
    }
    svg{
      color: $color-gray;
      font-size: 10rem;
      display: none;
      cursor: pointer;
    }
  }
  .carousel-prev, .carousel-next{
    position: absolute;
    top: 50%;
    color: $color-white;
    svg{
      font-size: 3rem;
    }
    
  }
  @media screen and (max-width: 575px) {
    .carousel-prev, .carousel-next{
      top: 40%;
      svg{
        font-size: 1.5rem;
      }
    }
  }
  .carousel-prev{
    left: 1%;
  }
  .carousel-next{
    right: 1%;
  }
}