.carousel{
  position: relative;
  .carousel-item{
    img{
      width: 100%;
      display: block;
    }
  }
  .carousel-prev, .carousel-next{
    position: absolute;
    top: 50%;
    color: $color-white;
    svg{
      font-size: 3rem;
    }
    
  }
  @media screen and (max-width: 575px) {
    .carousel-prev, .carousel-next{
      top: 40%;
      svg{
        font-size: 1.5rem;
      }
    }
  }
  .carousel-prev{
    left: 1%;
  }
  .carousel-next{
    right: 1%;
  }
}