.carousel{
  .carousel-item{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img{
      width: 100%;
    }
    
  }
  .item-1{
    background-image: url(./../../img/carousel_1.jpg);
    
  }
  .item-2{
    background-image: url(./../../img/carousel_2.jpg);
  }
}