.header{
  justify-content: space-between;
  padding: 0 2.4rem;
  height: 6rem;
  align-items: center;
  position: fixed;
  width: $w-12;
  background-color: #ffffffeb;
  z-index: 100;
  top: 0;
  .logo{
    width: $w-4;
    img{
      width: $w-logo-large;
    }
  }
  .nav{
    width: $w-4;
    justify-content: center;
    li{
      padding: 1rem $spacing;
      cursor: pointer;
      .navlink{
        transition: all 0.5s;
      }
      &:hover .navlink{
        font-weight: bold;
        color: $color-primary;
      }
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .active{
    font-weight: bold;
    color: $color-primary;
  }
  .sign{
    width: $w-4;
    justify-content: flex-end;
    
    button{
      display: block;
      font-size: small;
      margin: 0 $spacing;
      text-transform: unset;
      transition: all 0.5s;
      &:hover{
        color: $color-primary;
      }
      svg{
        margin-right: 0.5rem;
        margin-bottom: -0.6rem;
      }
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .icon-menu{
    display: none;
    @media screen and (max-width: 991px) {
      display: block;
    }
  }
  .mobile-menu{
    position: fixed;
    top: 0;
    width: $w-8;
    height: 100vh;
    background-color: $color-white;
    z-index: 10;
    transition: all 0.5s;
    line-height: 4rem;
    padding: $spacing;
    animation: animation-show 0.5s;
    .mobile-sign{
      justify-content: space-around;
      margin-bottom: $spacing;
      align-items: center;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #80808030;
        height: 0.2rem;
      }
      button{
        font-size: small;
        text-transform: unset;
        display: block;
        &:hover{
          color: $color-primary;
        }
        svg{
          margin-bottom: -0.6rem;
          margin-right: 0.5rem;
        }
      }
    }
    .mobile-nav{
      font-size: large;
      font-weight: 500;
    }
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: $w-12;
    background-color: #00000080;
    height: 100vh;
    animation: animation-show 0.5s;
    z-index: 9;
  }
  @media screen and (max-width: 575px) {
    height: 5rem;
    .logo{
      img{
        width: $w-logo-small;
      }
      
    }
  }
}
@keyframes animation-show{
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
 
}
