$spacing: 1.2rem;
$color-primary: #FB4226;
$color-white: white;
$color-black: black;
$color-dark: #4A4A4A;
$font-size-nomarl: 1.6rem;
$w-logo-large: 6rem;
$w-logo-small: 4rem;
$color-gray: gray;
$font-size-20: 2rem;


$w-12: 100%;
$w-11: 91.67%;
$w-10: 83.33%;
$w-9: 75%;
$w-8: 66.67%;
$w-7: 58.33%;
$w-6: 50%;
$w-5: 41.67%;
$w-4: 33.33%;
$w-3: 25%;
$w-2: 16.67%;
$w-1: 8.33%;